*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
button {
  font-family: Helvetica, sans-serif;
  transition: all 0.3s ease;
}

a:hover,
button:hover {
  transform: scale(1.2);
}

.form {
  width: 200px;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  transition: 0.3s box-shadow;
}

input {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.box {
  text-align: center;
}
